/* Fuente */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
/* Margen y centrado */
.contenedor {
    background-color: white;
    width: 60%;
    margin: 50px auto; /* margen */
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}